@import "settings";

body {
  background: url("../img/bg.png") center top no-repeat;
  background-size: 100% auto;
  font-family: $CeraRound;
}
a {
  text-decoration: none;
  color: rgb(253, 255, 252);

}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.header {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  //align-items: center;
  .menu-wrapper {
    //width: 760px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    .header-menu {
      //align-self: center;
      padding: 8px 0;
      .header-menu__list {
        //width: 500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          padding: 0 26px;
          font-weight: bold;
          position: relative;
        }
        li:hover:after {
          content: '';
          position: absolute;
          top: 25px;
          bottom: 0;
          left: 50%;
          //right: 0;
          width: 3px;
          height: 3px;
          background-color: white;
          border-radius: 50%;
        }
      }

    }
    .header-button {
      width: 200px;
      text-align: center;
      border: 2px solid rgb(84, 137, 195);
      border-radius: 25px;
      margin: 0 0 0 43px;
      align-self: center;
      font-weight: bold;
      margin-top: -11px;
      a {
        padding: 17px 0;
        display: block;
      }
    }
  }
}
.slider {
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
  .slider-title {
    font-size: 36px;
    font-family: $CeraRound;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding-top: 102px;
    //padding-top: 32px;
    font-weight: 500;
    font-style: normal;
    span {
      font-weight: 500;
      font-style: normal;
    }
  }
  .slider-text {
    font-size: 24px;
    font-family: $CeraRound;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding: 37px 0;
    span {
      font-weight: 500;
      font-style: normal;
    }
  }
  .slider-button {
    width: 176px;
    background-color: #e70067;
    font-size: 16px;
    font-family: "Geometria";
    color: rgb(240, 245, 255);
    line-height: 1.5;
    margin: 0 auto;
    border-radius: 50px;

    a{
      display: block;
      padding: 18px 0;
      margin-top: 12px;
    }
  }

}

.owl-carousel {
  .owl-dots {
    border: 1px solid rgb(84, 137, 195);
    width: 35px;
    margin: 0 auto;
    margin-top: 147px;
    border-radius: 40px;
    display: flex;
    padding: 7px 17px;
    justify-content: center;
    box-sizing: content-box;
    .active {
      width: 16px;
      height: 1px;
      background-color: rgb(250, 251, 253)!important;


    }
  }
  .owl-dot {
    width: 16px;
    height: 1px;
    background-color: rgb(84, 137, 195)!important;
    text-align: center;
    margin: 0 2px;
  }
}

.wrapper {
  position: relative;
}
.wrapper:after {
  content: url("../img/diagram-bg.png");
  bottom: -129px;
  right: 96px;
  position: absolute;
}
.application-review {
  padding-top: 170px;
  display: flex;
  flex-wrap: wrap;
  //align-items: center;
  justify-content: center;
  color: rgb(96, 117, 157);
  .application-review__img {
    margin-top: 24px;
    margin-left: 22px;
  }
  .application-review__begin {
    max-width: 562px;
    margin-left: 42px;
    .application-review__begin-title {
      font-size: 36px;
      font-family: $CeraRound;
      line-height: 1.5;
      font-weight: 500;
      font-style: normal;
      padding-top: 105px;
    }
    .application-review__begin-list-wrapper {
      max-width: 470px;
      font-size: 16px;
      font-family: $CeraRound;
      line-height: 1.5;
      margin-top: 19px;
      .application-review__begin-list-title {
        font-weight: 500;
        font-style: normal;
        padding-bottom: 11px;
      }
      .application-review__begin-list {
        padding-top: 4px;
        .application-review__begin-list-item {
          font-weight: 500;
          font-style: normal;
          position: relative;
          padding-left: 17px;
          padding-bottom: 16px;
        }
        .application-review__begin-list-item:before {
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          background-color: rgb(22, 175, 224);
          border-radius: 50%;
          top: 12px;
          left: 2px;
          border: 1px solid #16afe0;
        }
      }
    }

    .application-review__button {
      width: 200px;
      background-color: #e70067;
      font-size: 16px;
      font-family: "Geometria";
      color: #f0f5ff;
      line-height: 1.5;
      //margin: 0 auto;
      border-radius: 50px;
      text-align: center;
      //margin-top: 21px;
      //margin-left: 1px;
      a {
        padding: 19px 0;
        display: block;
      }
    }
  }

}

@media (min-width:1201px){

  //.owl-carousel {
  //  .owl-dots {
  //    margin-top: 30px;
  //  }
  //}
}

@media (min-width:1200px){
  .container{width: 1160px;}
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .logo {
    margin: 0 auto;
  }
  .header-button {
    margin: 0 20px!important;
  }
  .header {
    padding-top: 10px;
  }
  .slider {
    .slider-title {
      font-size: 30px;
      //line-height: 1;
      padding-top: 25px;
    }
    .slider-text {
      font-size: 20px;
      //line-height: 1;
      padding: 22px 0;
    }
    .slider-button {
      a {
        padding: 4px 0;
      }
    }
  }
  .owl-carousel {
    .owl-dots {
      margin-top: 20px;
    }
  }
  .application-review {
    padding-top: 80px;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px){
  body {
    //background-image: none;
    background: none;
  }
  .mobile-bg {
    background: linear-gradient(to right, #12457f, #2576d4);
    padding-bottom: 30px;
  }
  .logo {
    margin: 0 auto;
  }
  .header {
    padding-top: 10px;
    .menu-wrapper {
      .header-menu {
        padding: 20px 0;
        .header-menu__list{
          justify-content: center;
        }
      }
      .header-button {
        margin: 0 auto;
      }
    }
  }
  .slider {
    .slider-title {
      font-size: 30px;
      //line-height: 1;
      padding-top: 25px;
    }
    .slider-text {
      font-size: 20px;
      //line-height: 1;
      padding: 22px 0;
    }
    .slider-button {
      a {
        padding: 4px 0;
      }
    }
  }
  .owl-carousel {
    .owl-dots {
      margin-top: 30px;
    }
  }
  .application-review {
    padding-top: 0;

    .application-review__img {
      display: none;
    }
    .application-review__begin {
      .application-review__begin-title {
        padding-top: 0;
      }
      .application-review__button {
        margin: 0 auto;
      }
    }
  }
  .wrapper:after {
    display: none;
  }
}

@media screen and (max-width: 767px){
  body {
    //background-image: none;
    background: none;
  }
  .mobile-bg {
    background: linear-gradient(to right, #12457f, #2576d4);
    padding-bottom: 30px;
  }
  .logo {
    margin: 0 auto;
  }
  .header {
    padding-top: 10px;
    .menu-wrapper {
      .header-menu {
        padding: 20px 0;
        .header-menu__list{
          justify-content: center;
        }
      }
      .header-button {
        margin: 0 auto;
      }
    }
  }
  .slider {
    .slider-title {
      font-size: 22px;
      padding-top: 25px;
    }
    .slider-text {
      font-size: 14px;
      padding: 22px 0;
    }
    .slider-button {
      font-size: 14px;
      a {
        padding: 4px 0;
      }
    }
  }
  .owl-carousel {
    .owl-dots {
      display: none;
    }
  }
  .application-review {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    .application-review__img {
      display: none;
    }
    .application-review__begin {
      margin-left: 0;
      .application-review__begin-title {
        font-size: 22px;
        text-align: center;
        padding-top: 0;
      }
      .application-review__begin-list-wrapper {
        font-size: 14px;
        .application-review__begin-list-title {
          padding-bottom: 15px;
        }
        .application-review__begin-list {
          .application-review__begin-list-item {
            padding-bottom: 15px;
          }
        }
      }
      .application-review__button {
        margin: 0 auto;
      }
    }
  }
  .wrapper:after {
    display: none;
  }
}